@import url("https://fonts.googleapis.com/css2?family=Delius+Unicase&display=swap");

@mixin font-title {
    @font-face {
        font-family: "Starguides";
        src: url(fonts/Starguides.otf);
        src:
            local("Starguides"),
            url(fonts/Starguides.eot),
            url(fonts/Starguides.eot?#iefix) format("embedded-opentype"),
            url(fonts/Starguides.woff) format("woff"),
            url(fonts/Starguides.woff2) format("woff2"),
            url(fonts/Starguides.svg) format("svg"),
            url(fonts/Starguides.ttf) format("truetype");

        font-weight: normal;
        font-style: normal;
    }
}

$font-primary: "Starguides", "Delius Unicase", cursive;
$font-secondary: "Delius Unicase", cursive;
